{% load static %}
<!doctype html>
<html>
  <head>
    <title>Project 2 - Explainability</title>
    <link rel="stylesheet" href="{% static 'project2/style.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <a
        href="{% url 'project2:data' %}"
        class="{% if request.path == '/project2/' %}active{% endif %}"
      >
        Data Visualization
      </a>

      <a
        href="{% url 'project2:tree' %}"
        class="{% if 'tree' in request.path %}active{% endif %}"
      >
        Decision Tree
      </a>

      <a
        href="{% url 'project2:regularization' %}"
        class="{% if 'regularization' in request.path %}active{% endif %}"
      >
        Regularization
      </a>

      <a
        href="{% url 'project2:logistic' %}"
        class="{% if 'logistic' in request.path %}active{% endif %}"
      >
        Logistic Regression
      </a>

      <a
        href="{% url 'project2:counterfactual' %}"
        class="{% if 'counterfactual' in request.path %}active{% endif %}"
      >
        Counterfactual
      </a>
    </div>

    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
