<div class="upload-section">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  {% if error %}
  <p class="error-message">{{ error }}</p>
  {% endif %} {% if data_preview %}
  <div class="dataset-result">
    <h3>Dataset Preview</h3>
    <div class="">{{ data_preview|safe }}</div>
    <form method="post" action="{% url 'project1:train' %}">
      {% csrf_token %}
      <button type="submit">Train Model</button>
    </form>
  </div>
  {% endif %}
</div>
{% extends 'base.html' %}

{%  load static %}


{% block content %}

<div class="box">
    <div class="title-container">
        <div class = "title">Upload a CSV File</div>
    </div>

    <div class="main-text">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    
        {% if result is not None %}
            <p>Average of numbers: <strong>{{ result }}</strong></p>
        {% endif %}
    
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
    

</div>

{% endblock %}

{% block script %}
{% endblock script %}
