<details class="info-toggle">
  <summary><span class="info-icon">i</span> What do the movie fields mean?</summary>
  <div class="toggle-content field-guide">
    <div><b>Title</b><span>The name of the movie.</span></div>
    <div><b>Year</b><span>The year the movie was released.</span></div>
    <div><b>Genres</b><span>Categories such as Action, Comedy, Drama, or Sci-Fi.</span></div>
    <div><b>Duration</b><span>Approximate running time in minutes.</span></div>
    <div><b>Content rating</b><span>The audience classification, such as PG, PG-13, or R.</span></div>
    <div><b>IMDb score</b><span>A public IMDb rating from 0 to 10. It is shown as movie information; you should still choose according to your own taste.</span></div>
    <div><b>Language</b><span>The movie's listed language in the dataset.</span></div>
  </div>
</details>
